


*{font-family: "Smooch Sans", sans-serif;}

body{background-color: skyblue;
  background-image: linear-gradient(to right, whitesmoke ,skyblue, ghostwhite);
}

#Jestan{font-family:"Russo One", sans-serif;
text-align: left;
font-size: 150px;}

#Mendame{font-family:"Russo One", sans-serif;
font-size: 100px;
text-align: left;}

#s_engineer{text-align: left;}

#jestanimg{height:550px ;width: 550px ;}